@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
}

@layer components {
  footer ul li {
    @apply flex items-center gap-2 mb-4;
  }
  footer strong {
    @apply block text-gray-500 font-normal uppercase mb-8;
  }
  footer span {
    @apply text-gray-700 text-sm;
  }
}
